html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  color: #3c2829;
}

h1,
h2,
h3 {
  position: relative;
  margin-bottom: 24px;
  margin-top: 80px;
}

p {
  line-height: 24px;
}

main {
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p,
main li {
  max-width: 600px;
  line-height: 24px;
}

ul a,
p a {
  text-decoration: none;
  color: #3c2829;
  border-bottom: 2px solid #3c2829;
  transition: color 0.1s linear, border 0.1s linear;
}

nav a {
  border-bottom: 2px solid transparent;
  transition: color 0.1s linear, border 0.1s linear;
}

ul a:hover,
ul a:focus,
p a:hover,
p a:focus,
nav a:hover,
nav a:focus {
  color: #f05657;
  border-bottom: 2px solid #f05657;
}

ul {
  padding-left: 16px;
}

li {
  margin: 8px 0;
}

.home-main {
  margin-top: 40px;
}

.button {
  padding: 8px 28px;
  font-family: "Montserrat";
  font-size: 1em;
  border-radius: 20px;
  border: none;
  background: white;
  box-shadow: 4px 4px #f05657;
  cursor: pointer;
  color: #f05657;
  transition: all 0.1s ease-out;
  margin-top: 24px;
}

.button:hover,
.button:focus {
  transform: translate3d(3px, 3px, 0);
  box-shadow: none;
}

.button-border {
  border: 2px solid #f05657;
}

.page-flex-horizontal {
  display: flex;
}

.page-flex-vertical {
  display: flex;
  flex-direction: column;
}

.play-button-red {
  width: 40px;
  height: 40px;
  margin-right: 32px;
}

.page-banner {
  background: url("../images/brand/page-header-background.svg");
  color: #fff;
  width: 50%;
  height: 160px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-banner > h1 {
  margin: 0;
}

.page-banner > h1::after {
  width: 0;
  height: 0;
}

.about-wrapper {
  display: flex;
  margin: 48px 0;
}

.about-content-wrapper {
  margin-left: 24px;
}

.about-content-wrapper a {
  color: #3c2829;
  text-decoration: none;
  border-bottom: 2px solid #3c2829;
  transition: border 0.1s linear, color 0.1s linear;
}

.about-content-wrapper a:hover,
.about-content-wrapper a:focus {
  border-bottom: 2px solid #f05657;
  color: #f05657;
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.about-name {
  font-size: 32px;
  margin: 0 0 16px;
}

.about-name::after,
.about-title::after {
  width: 0;
  height: 0;
}

.about-title {
  font-size: 24px;
  margin: 0 0 16px;
}

.about-location {
  font-size: 14px;
  text-transform: uppercase;
}

.bookshelf {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-full .logo-link:hover,
.header-full .logo-link:focus {
  border-bottom: 0;
}

@media (max-width: 1000px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    margin-bottom: 24px;
  }
}

@media (max-width: 800px) {
  .bookshelf {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  main {
    top: 0;
  }
  .header-content-wrapper {
    flex-direction: column;
  }

  .page-banner {
    width: 100vw;
    left: 10%;
    height: 100px;
    font-size: 0.8em;
  }

  main {
    margin: 0 40px;
  }

  .home-main {
    margin: 40px;
  }
}

@media (max-width: 500px) {
  main {
    /* margin-top: 40px; */
  }

  .about-name,
  .about-title,
  .about-location {
    text-align: center;
  }

  .about-content-wrapper a {
    margin-bottom: 16px;
    display: block;
  }
}
