html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  color: #3c2829;
}

h1,
h2,
h3 {
  position: relative;
  margin-bottom: 60px;
  margin-top: 0;
}

main h1,
main h2,
main h3 {
  margin-top: 48px;
}

h1::after,
h2::after,
h3::after {
  content: "";
  width: 50vw;
  background: #f5f5f5;
  height: 1px;
  position: absolute;
  top: 60px;
  left: -20px;
}

p {
  line-height: 24px;
}

.home-main {
  padding: 140px 0 140px 400px;
}

.about-main {
  padding: 0 0 140px 250px;
}

main {
  padding: 0 0 140px 400px;
}

main p {
  max-width: 670px;
}

a {
  text-decoration: none;
  color: #3c2829;
}

.highlight {
  border-bottom: 2px solid #3c2829;
}

.button {
  padding: 8px 28px;
  font-family: "Montserrat";
  font-size: 1em;
  border-radius: 20px;
  border: none;
  background: white;
  box-shadow: 4px 4px #f27979;
  cursor: pointer;
  color: #f27979;
  transition: all 0.1s ease-out;
  margin-top: 24px;
}

.button:hover,
.button:focus {
  transform: translate3d(3px, 3px, 0);
  box-shadow: none;
}

.page-flex-horizontal {
  display: flex;
}

.play-button-red {
  width: 40px;
  height: 40px;
  margin-right: 32px;
}

.page-banner {
  background: url("../images//background.svg");
  max-width: 800px;
  color: #fff;
  width: 90%;
  height: 160px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -80px;
  left: 20%;
}

.page-banner > h1 {
  margin-bottom: 0;
}

.page-banner > h1::after {
  width: 0;
  height: 0;
}

.about-wrapper {
  display: flex;
  margin: 48px 0;
}

.about-content-wrapper {
  margin-left: 24px;
}

.about-wrapper p {
  max-width: 500px;
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.about-name {
  font-size: 32px;
  margin: 0 0 16px;
}

.about-name::after,
.about-title::after {
  width: 0;
  height: 0;
}

.about-title {
  font-size: 24px;
  margin: 0 0 16px;
}

.about-location {
  font-size: 14px;
  text-transform: uppercase;
}
