html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  color: #3c2829;
}

h1,
h2,
h3 {
  position: relative;
  margin-bottom: 24px;
  margin-top: 80px;
}

p {
  line-height: 24px;
}

main {
  margin: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p,
main li {
  max-width: 600px;
  line-height: 24px;
}

ul a,
p a {
  text-decoration: none;
  color: #3c2829;
  border-bottom: 2px solid #3c2829;
  transition: color 0.1s linear, border 0.1s linear;
}

nav a {
  border-bottom: 2px solid transparent;
  transition: color 0.1s linear, border 0.1s linear;
}

ul a:hover,
ul a:focus,
p a:hover,
p a:focus,
nav a:hover,
nav a:focus {
  color: #f27979;
  border-bottom: 2px solid #f27979;
}

ul {
  padding-left: 16px;
}

li {
  margin: 8px 0;
}

.button {
  padding: 8px 28px;
  font-family: "Montserrat";
  font-size: 1em;
  border-radius: 20px;
  border: none;
  background: white;
  box-shadow: 4px 4px #f27979;
  cursor: pointer;
  color: #f27979;
  transition: all 0.1s ease-out;
  margin-top: 24px;
}

.button:hover,
.button:focus {
  transform: translate3d(3px, 3px, 0);
  box-shadow: none;
}

.button-border {
  border: 2px solid #f27979;
}

.page-flex-horizontal {
  display: flex;
}

.page-flex-vertical {
  display: flex;
  flex-direction: column;
}

.play-button-red {
  width: 40px;
  height: 40px;
  margin-right: 32px;
}

.page-banner {
  background: url("../images/brand/page-header-background.svg");
  max-width: 800px;
  color: #fff;
  width: 90vw;
  height: 160px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 170px;
  left: calc(45vw - 25%);
}

.page-banner > h1 {
  margin: 0;
}

.page-banner > h1::after {
  width: 0;
  height: 0;
}

.about-wrapper {
  display: flex;
  margin: 48px 0;
}

.about-content-wrapper {
  margin-left: 24px;
}

.about-content-wrapper a {
  color: #3c2829;
  text-decoration: none;
  border-bottom: 2px solid #3c2829;
  transition: border 0.1s linear, color 0.1s linear;
}

.about-content-wrapper a:hover,
.about-content-wrapper a:focus {
  border: 2px solid #f27979;
  color: #f27979;
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.about-name {
  font-size: 32px;
  margin: 0 0 16px;
}

.about-name::after,
.about-title::after {
  width: 0;
  height: 0;
}

.about-title {
  font-size: 24px;
  margin: 0 0 16px;
}

.about-location {
  font-size: 14px;
  text-transform: uppercase;
}

.bookshelf {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
}
