.footer {
  background-color: #faf9f6;
  color: #353535;
  padding: 64px 0 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-find-episodes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  margin-top: 16px;
}

.footer-icons > a {
  margin-right: 16px;
}

.footer-links {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 74px;
  flex-wrap: wrap;
}

.footer-links > a {
  text-decoration: none;
  color: #353535;
  margin-right: 16px;
  margin-bottom: 16px;
}

.footer-copyright {
  font-size: 0.8em;
  margin-top: 56px;
}

@media (max-width: 700px) {
  .footer-links {
    width: 80%;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }

  .footer-copyright {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 24px;
    text-align: center;
  }
}
