.player[value] {
  width: 650px;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
progress {
  background-color: white;
  border-radius: 4px;
}

progress::-webkit-progress-bar {
  /* style rules */
  background: white;
  border-radius: 4px;
}
progress::-webkit-progress-value {
  background: #3c2829;
  border-radius: 4px;
}
progress::-moz-progress-bar {
  /* style rules */
  background: #3c2829;
  border-radius: 4px;
}

.player-container {
  display: flex;
  flex-direction: column;
}

.player-total-time,
.player-current-time {
  margin: 4px 0;
}

.player-total-time {
  align-self: flex-end;
}
